<div class="modal fade" id="crearSerie" tabindex="-1" role="dialog">
  <form novalidate [formGroup]="serie" (ngSubmit)="guardar()">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Crear nueva Serie</h5>
        </div>
        <div class="modal-body">
          <p>Indica el nombre de la serie que quieres añadir.</p>
          <div class="row">
            <div class="col-2">
              <img src="assets/images/tip.png" alt="Consejo" class="img-fluid">
            </div>
            <div class="col-10">
              <small class="text-muted">
                (Antes de crear una serie nueva, asegúrate de que no exista ya en la nube. Realiza una búsqueda para asegurarte)
              </small>
            </div>
          </div>
          <div class="form-group">
            <h3><label for="serie-nombre">Nombre</label></h3>
            <input type="text" class="form-control" id="serie-nombre"
              formControlName="nombre">
          </div>
          <div class="alert alert-danger" *ngIf="error">
            {{ error }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="serie.invalid">Continuar</button>
        </div>
      </div>
    </div>
  </form>
</div>
